[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
lts = "*"
cloudinary = "*"
django-bootstrap-v5 = "*"
psycopg2-binary = "*"
pyuploadcare = "*"
pillow = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
