{% load static %}
{% include "base.html" %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}


{% block content %}
<br>
<div class="container-fluid">



  <!-- Jumbotron -->
  <div class="card card-image" style="background-position:center;">
  </div>
  <div class="text-white text-center rgba-stylish-strong" id="color">
    <div class="py-5">

      <!-- Content -->

      <h2 class="card-title h2 my-4 py-2">If you can't make it good, at least make it look good.</h2><div class="col-md-5 col-sm-6 col-lg-6"><br><br>
        <form role="search" action="{% url 'searchPage' %}">
          <div class="md-form my-0">
            <input class="form-control" name="category" type="text" placeholder="Search By Category">
            <button type="submit" class="btn btn-sm btn-info">Search</button>
          </div>
        </form>
      </div>
       <br><br><br><br>
      <p class="mb-4 pb-2 px-md-5 mx-md-5" id="txt">It is my intention to present – through the medium of photography – intuitive observations of the natural world which may have meaning to the spectators.</p>

    </div>
  </div>

  <!-- Jumbotron -->

</div>
<br>
<div class="container">

  <div class="row">
    
    <div class="col-md-5 col-sm-6 col-lg-6">
     

      <div class="dropdown-menu dropdown-primary">
        {% for items in location %}
        <a class="dropdown-item" href="/location/{{ items.name }}">{{ items.name }}</a>
        {% endfor %}
      </div>
      <!-- Basic dropdown -->

    </div>

  </div>

  <br>

  <div class="row">
    {% for items in images %}


    <div id="images" class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
      <img style="margin-top: 10px;margin-bottom:10px;" class="img-fluid z-depth-1 img-thumbnail"
        src="{{ items.picture.url }}" alt="{{ items.pic_name }}" data-toggle="modal" data-target="#modal{{items.id}}">
    </div>
    {% endfor %}
  </div>


  {% for items in images %}
  <div class="modal fade" id="modal{{items.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <!--Body-->
        <div class="modal-body mb-0 p-0">
          <div class="embed-responsive embed-responsive-16by9
                z-depth-1-half">


            <img class="embed-responsive-item" src="{{ items.picture.url }}" alt="{{ items.pic_name }}" allowfullscreen>

          </div>
        </div>
        <h3 class="embed-responsive-item text-center mr-4 mt-2" style="text-decoration: underline; color:black;">{{items.image_name }}</h3>
        <span class="mr-4 text-center">
          <h5>{{ items.description }}</h5>
        </span>
        <!--Footer-->
        <div class="modal-footer justify-content-center">

          <a type="button" class="btn-floating btn-sm btn-fb"><i class="fas
                  fa-calendar-alt"></i> {{ items.date }}</a>
          <a type="button" class="btn-floating btn-sm btn-tw"><i class="fas
                  fa-fighter-jet"></i> {{ items.location }}</a>
          <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fas fa-grip-horizontal"></i> {{items.category }}</a>
          <div>
            <button type="button" class="btn btn-outline-info btn-rounded btn-md ml-4"
              onclick="myFunction('{{items.id}}.url')">Copy Link</button>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
              data-dismiss="modal">Exit</button>
          </div>

          <div>
            <input class="form-control input-lg" type="text" value="{{items.picture.url}}" id="{{items.id}}.url">
          </div>


        </div>

      </div>
     

    </div>
  </div>
 

  {% endfor %}
</div>
<br>


<script>
  function myFunction(element) {
    var copyText = document.getElementById(element);
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
  }
</script>
{% endblock %}