{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<div class="banner-location">
    <div class="cover-location">
        <h2>Images located in {{Location.name}}</h2>
        <div class="container">
            <form class="form" role="search" action="{% url 'search_image' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="image_category">
                  <br>
                 </div>
                 <small>Trending searches: fashion, Photography</small>
              </form>
        </div>
    </div>
</div>

<div class="container wrap">
    <div class="row">
        {% for image in images %}
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <div class="portfolio-wrap ">
                <div class="portfolio-wrap hovereffect">
                    <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                        <img src="{{image.picha.cdn_url}}" href="" class="image" alt="Image" >
                        <div class="overlay">
                            <h4>{{image.name}}</h4>
                        </div>
                    </a>
                </div>
            </div>
    </div>
    {% empty %}
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img src="{% static 'images/sorry.png' %}" alt="" class = "oops">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> No images for {{image.image_location.name}}. check back later.</h2>
    </div>
</div>
{% endfor %}

<!-- looping via image details -->
{% for image in images %}
